<form
	#chatForm="ngForm"
	(keydown.enter)="chatForm.form.valid && onSubmit($event, chatForm)"
	(ngSubmit)="chatForm.form.valid && onSubmit($event, chatForm)"
	class="pt-3"
	novalidate>
	<div
		class="form-group">
		<textarea
			ngModel
			#chatInput
			id="chatInput"
			name="chatInput"
			class="form-control"
			rows="1"
			placeholder="Message #general"
			tabindex="1"
			minlength="1"
			maxlength="2000"></textarea>
	</div>
	
	<button class="btn btn-lg btn-outline-primary" (click)="openCreateInvitationLinkModal()">Create invitation </button>

</form>
