<nav>
	<ul>
		<li *ngFor="let server of serverList">
			<a routerLink="/chat/{{ server.id }}">
				<i class="material-icons">chat</i>
				{{server.name}}
			</a>

			<!--
			<a routerLink="server" [class.activated]="currentUrl == '/chat'" style="padding: 0;">
				<div class="d-flex align-items-center bg-secondary rounded-circle mx-auto" style="width: 60px; height: 60px;">
					<h4 class="font-weight-bold mx-auto my-0">MG</h4>
				</div>
			</a>
			<a routerLink="">
				<div>
					<i class="material-icons">chat</i>
					<h5 class="font-weight-bold mx-auto my-0">{{server}}</h5>
				</div>
			</a>
			-->
		</li>
		<!--
		<li>
			<a routerLink="" [class.activated]="currentUrl == '/'">
				<div>
					<i class="material-icons">chat</i>
				</div>
			</a>
		</li>
		-->

		<hr style="border-top: 1px solid gray;">

		<li>
			<a (click)="openCreateRoomModal()">
				<i class="material-icons">add_box</i>
				create
			</a>
		</li>

		<li>
			<a (click)="test()">
				<i class="material-icons">record_voice_over</i>
				test
			</a>
		</li>

		<hr style="border-top: 1px solid gray;">
	
		<li>
			<a (click)="openLoginModal()">
				<i class="material-icons">vpn_key</i>
				login
			</a>
		</li>
		<li>
			<a (click)="openSignupModal()">
				<i class="material-icons">assignment_ind</i>
				signup
			</a>
		</li>
		<li>
			<a (click)="openLogoutModal()">
				<i class="material-icons">exit_to_app</i>
				log out
			</a>
		</li>
	</ul>
</nav>